      .adminBtn {
  background-color: rgb(0, 69, 172);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.adminBtn:hover {
  background-color: rgb(0, 0, 0);
}

      
      .faq-container {
        max-width: 80%;
        margin: 40px auto;
      }

      .faq-question {
        background-color: #007bff;
        color: white;
        padding: 15px 20px;
        cursor: pointer;
        margin-bottom: 5px;
        border-radius: 5px;
        font-weight: 600;
      }

      .faq-answer {
        display: none;
        background-color: #f8f9fa;
        padding: 15px 20px;
        border: 1px solid #007bff;
        border-radius: 0 0 5px 5px;
        margin-bottom: 10px;
        color: #333;
      }