.body {
  background-color: rgb(213, 237, 253);
}
hr {
  border: 0px;
  height: 3px;
  background-color: rgb(0, 47, 255);
}
.navbar {
  background-color: rgb(30, 120, 255);
}

.navbar-brand,
h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.adminBtn {
  background-color: rgb(0, 69, 172);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.adminBtn:hover {
  background-color: rgb(0, 0, 0);
}


.container {
  padding: 20px;
  h3 {
    color: rgb(0, 47, 255);
  }
  p {
    padding: 0px;
    border: 0px;
    margin: 0px;
  }
  input{
    width: 100%;
    height: 2rem;
    border-color: aqua;
  }
  select{
    width: 100%;
    height: 2rem;
    border-color: aqua;
  }
  button{
    padding: 5px;
    border-color: aqua;
    width: 100%;
  }
  #btn{
    padding-top: 10px;
  }
}
#resultado {
  padding: 20px;
  margin-top: 10px;
}

.footercard {
  width: 100%;
}

.textfooter {
  text-decoration: none;
  color: inherit;
  color: black;
}
.footer1 {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer1,
i {
  color: rgb(255, 255, 255);
}
.footer {
  background-color: rgb(30, 120, 255);
}
i:hover {
  color: rgb(23, 0, 155);
  transition: 1s;
}